<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head') -%>
</head>
<body class="hold-transition skin-wins sidebar-mini fixed">
    <div class="wrapper">
        <%- include('../partials/main-header') -%>
        <%- include('../partials/main-sidebar') -%>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper bg_w">
            <!-- Content Header (Page header) -->
            <section class="content-header content_border animated fadeInLeft">
              <h4>
                 관리 : 계정 관리
                <%# <small>Control panel</small> %>
              </h4>
              <ol class="breadcrumb">
                <li><a href="/"><i class="fa fa-home"></i> 홈</a></li>
                <li class="active">관리</li>
                <li class="active">계정 관리</li>
              </ol>
            </section>

            <section class="content">
                <%# <div class="row">
                    <div class="col-lg-12 col-xs-12">
                    </div>
                </div> %>
                <div class="row content_border">
                    <div class="col-lg-12 colr-xs-12">
                        <div class="box_1" >
                            <div>
                                <div class="box-tools pull-right">
                                    <%# <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button> %>
                                </div>
                            </div>
                            <div class="box-body no-padding">
                                <div class="mailbox-controls pd_10">
                                    <!-- <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-sm" id="btnAddUser" data-toggle="tooltip" data-container="body" title="추가"><i class="fa fa-plus"></i></button>
                                        <button type="button" class="btn btn-default btn-sm" id="btnDelete" data-toggle="tooltip" data-container="body" title="삭제" disabled><i class="fa fa-trash-o"></i></button>
                                        <button type="button" class="btn btn-default btn-sm" id="btnRefresh" data-toggle="tooltip" data-container="body" title="새로고침"><i class="fa fa-refresh"></i></button>
                                    </div> -->
                                    <!-- /.btn-group -->

                                </div>
                                <!-- /.mailbox-controls -->

                                <div class="table-responsive mailbox-messages">
                                    <table class="table table_1 table-hover table-striped"
                                        id="tblAccount"
                                        data-width="100%"
                                        data-toggle="table"
                                        data-striped="true"
                                        data-pagination ="true"
                                        data-page-size="15"
                                        data-page-list="[10, 20, 30]"
                                        data-locale="ko-KR"
                                        data-show-columns="false"
                                        data-search="false"
                                        data-show-refresh="false"
                                        data-show-toggle="false"
                                        data-show-export="false"
                                        data-smart-display="false"
                                        data-checkbox-header="true">
                                        <thead>
                                            <tr>
                                                <th data-field="id"
                                                    data-align="center">아이디</th>
                                                <th data-field="authority"
                                                    data-align="center"
                                                    data-formatter="fAccountAuth">권한</th>
                                                <th data-field="name"
                                                    data-align="center">이름</th>
                                                <th data-field="access_address"
                                                    data-align="center">접근가능IP</th>
                                                <th data-field="email"
                                                    data-align="center">이메일</th>
                                                <th data-field="dept"
                                                    data-align="center">부서</th>
                                                <th data-field="phone"
                                                    data-align="center">연락처</th>
                                                <th data-field="reg_date"
                                                    data-align="center"
                                                    data-formatter="fDate">등록일</th>
                                                <th data-field="etc"
                                                    data-align="center"
                                                    data-formatter="fAccountEtc">상세보기</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
        <!-- /.content-wrapper -->
    </div>
    <!-- ./wrapper -->
    <%- include('../partials/modal-account-add') -%>
    <%- include('../partials/modal-account-edit') -%>
    <%- include('../partials/foot') -%>
    <script src="/components/crypto-js/crypto-js.js"></script>
    <script>
        /**
         * Page Init
         */

        var $tblAccount = $('#tblAccount');
        var $btnAddUser = $('#btnAddUser');
        var $btnRefresh = $('#btnRefresh');
        var $btnDelete = $('#btnDelete');

        var $modal_account_add = $('#modal_account_add');
        var $modal_account_edit = $('#modal_account_edit');

        $(function(){
            GetAccountList();

            $tblAccount.on('check.bs.table uncheck.bs.table ' +
                    'check-all.bs.table uncheck-all.bs.table', function () {
                $btnDelete.prop('disabled', !$tblAccount.bootstrapTable('getSelections').length);
                // save your data, here just save the current page
                // selections = getIdSelections();
                // push or splice the selections if you want to save all data selections
            });

            $btnAddUser.click(ShowAddAccount);
            $btnRefresh.click(GetAccountList);
            $btnDelete.click(DeleteAccount);

            $modal_account_add.find('form').submit(SubmitInsertAccount);
            $modal_account_edit.find('form').submit(SubmitUpdateAccount);
        });

        // ============================================================================

        /**
         * Load account list
         */
        function GetAccountList(){

            // 추후 필터기능 추가시 파라매터 매핑 필요
            var param = {
                id: null
            };

            $.ajax({
                url: '/api/settings/account',
                method: 'get',
                data: param,
                dataType: 'json',
                beforeSend: function(xhr){
                    $tblAccount.bootstrapTable("showLoading");
                },
                success: function(xhr){
                    var data = xhr;
                    $tblAccount.bootstrapTable("load",data);
                    $tblAccount.bootstrapTable("hideLoading");
                },
                error: function(request,status,error) {
                    var msg = "code:"+request.status+"\n"+"error:"+error+"\n"+request.responseText;
                    if(typeof swal !== 'undefined'){
                        swal("Error", msg, "error");
                    } else {
                        alert(msg);
                    }
                    msg = null;
                },
            });
        }

        // ============================================================================

        /**
         * Modal
         */

        /**
         * [ShowDetailUserInfo description] : Popup detail info at select User
         * @param {[string]} id [user id] : ex) 'admin'
         */
        function ShowDetailUserInfo(id){
            var param = {
                id: id
            };

            $.ajax({
                url: "/api/settings/account",
                method: "get",
                data: param,
                dataType: "json",
                success: function(xhr){
                    var data = xhr;

                    if(data.length > 0){
                        var user = data[0];


                        // data map
                        $modal_account_edit.find('#inputID').empty().data('id', user.id).text(user.id);
                        $modal_account_edit.find('#inputAuth').val(user.authority);
                        $modal_account_edit.find('#inputName').val(user.name);

                        $modal_account_edit.find('#inputPassword').val('')
                        $modal_account_edit.find('#inputNewPassword').val('')
                        $modal_account_edit.find('#inputConfirm').val('')

                        $modal_account_edit.find('#inputAccessIP').val(user.access_address);
                        $modal_account_edit.find('#inputEmail').val(user.email);
                        $modal_account_edit.find('#inputDept').val(user.dept);
                        $modal_account_edit.find('#inputPhone').val(user.phone);

                        // show modal
                        $modal_account_edit.modal();
                    } else {
                        var msg = "데이터를 찾을 수가 없습니다. 현상이 반복되면 관리자에게 문의해주세요.";
                        if(typeof swal !== 'undefined'){
                            swal("Error", msg, "error");
                        } else {
                            alert(msg);
                        }
                    }
                },
                error: function(request,status,error) {
                    var msg = "code:"+request.status+"\n"+"error:"+error+"\n"+request.responseText;
                    if(typeof swal !== 'undefined'){
                        swal("Error", msg, "error");
                    } else {
                        alert(msg);
                    }
                    msg = null;
                },
            });
        }

        /**
         * [SubmitUpdateAccount description] : Update changing info to account
         */
        function SubmitUpdateAccount(){

            var id = $modal_account_edit.find('#inputID').data('id');
            var auth = $modal_account_edit.find('#inputAuth').val();
            var name = $modal_account_edit.find('#inputName').val();
            var password = $modal_account_edit.find('#inputPassword').val();
            var confirm = $modal_account_edit.find('#inputConfirm').val();
            var accessip = $modal_account_edit.find('#inputAccessIP').val();
            var email = $modal_account_edit.find('#inputEmail').val();
            var dept = $modal_account_edit.find('#inputDept').val();
            var phone = $modal_account_edit.find('#inputPhone').val();

            var param = {
                id: id,
                authority: auth,
                name: name,
                password: ((password.length > 0) ? MakeToken(id, password) : null),
                access_address: accessip,
                email: email,
                dept: dept,
                phone: phone
            };

            $.ajax({
                url: "/api/settings/account",
                method: "post",
                data: param,
                dataType: "json",
                success: function(xhr){
                    $modal_account_edit.find('.close').trigger('click');

                    var msg = "정상적으로 입력하신 내용이 적용되었습니다.";
                    if(typeof swal !== 'undefined'){
                        swal('완료', msg, 'success').then(function(){
                            GetAccountList();   // update account list
                        });
                    } else {
                        alert(msg);
                        GetAccountList();   // update account list
                    }
                },
                error: function(request,status,error) {
                    var msg = "code:"+request.status+"\n"+"error:"+error+"\n"+request.responseText;
                    if(typeof swal !== 'undefined'){
                        swal("Error", msg, "error");
                    } else {
                        alert(msg);
                    }
                    msg = null;
                },
            });
        }

        /**
         * [ShowAddAccount description] : Popup adding account page
         */
        function ShowAddAccount(){

            // data map - init
            $modal_account_add.find('#inputID').val('');
            $modal_account_add.find('#inputAuth').val(2);
            $modal_account_add.find('#inputName').val('');

            $modal_account_add.find('#inputPassword').val('')
            $modal_account_add.find('#inputNewPassword').val('')
            $modal_account_add.find('#inputConfirm').val('')

            $modal_account_add.find('#inputAccessIP').val('');
            $modal_account_add.find('#inputEmail').val('');
            $modal_account_add.find('#inputDept').val('');
            $modal_account_add.find('#inputPhone').val('');

            // show modal
            $modal_account_add.modal();
        }

        function SubmitInsertAccount(){
            var id = $modal_account_add.find('#inputID').val();
            var auth = $modal_account_add.find('#inputAuth').val();
            var name = $modal_account_add.find('#inputName').val();
            var password = $modal_account_add.find('#inputPassword').val();
            var confirm = $modal_account_add.find('#inputConfirm').val();
            var accessip = $modal_account_add.find('#inputAccessIP').val();
            var email = $modal_account_add.find('#inputEmail').val();
            var dept = $modal_account_add.find('#inputDept').val();
            var phone = $modal_account_add.find('#inputPhone').val();

            var param = {
                id: id,
                authority: auth,
                name: name,
                password: ((password.length > 0) ? MakeToken(id, password) : null),
                access_address: accessip,
                email: email,
                dept: dept,
                phone: phone
            };

            $.ajax({
                url: "/api/settings/account",
                method: "PUT",
                data: param,
                dataType: "json",
                success: function(xhr){
                    if(!xhr.success || xhr.success == undefined){
                        if(typeof swal !== 'undefined'){
                            swal('에러', ((xhr.error) ? xhr.error : xhr ), 'error');
                        } else {
                            alert(xhr);
                        }
                        $modal_account_add.find('#inputID').focus();
                    } else {
                        $modal_account_add.find('.close').trigger('click');

                        var msg = "정상적으로 입력하신 내용이 적용되었습니다.";
                        if(typeof swal !== 'undefined'){
                            swal('완료', msg, 'success').then(function(){
                                GetAccountList();   // update account list
                            });
                        } else {
                            alert(msg);
                            GetAccountList();   // update account list
                        }
                    }
                },
                error: function(request,status,error) {
                    var msg = "code:"+request.status+"\n"+"error:"+error+"\n"+request.responseText;
                    if(typeof swal !== 'undefined'){
                        swal("Error", msg, "error");
                    } else {
                        alert(msg);
                    }
                    msg = null;
                },
            });
        }

        function DeleteAccount(){
            var checklist = $tblAccount.bootstrapTable('getSelections');
            var idlist = new Array();

            checklist.forEach(function(v, i){
                idlist.push(v.id);
            });

            var param = {
                idlist: idlist
            };

            $.ajax({
                url: '/api/settings/account',
                method: 'delete',
                data: param,
                dataType: 'json',
                success: function(xhr){
                    if(!xhr.success || xhr.success == undefined){
                        if(typeof swal !== 'undefined'){
                            swal('에러', ((xhr.error) ? xhr.error : xhr ), 'error')
                        } else {
                            alert(xhr);
                        }
                        $modal_account_add.find('#inputID').focus();
                    } else {
                        $modal_account_add.find('.close').trigger('click');

                        var msg = "선택하신 계정정보가 삭제되었습니다.";
                        if(typeof swal !== 'undefined'){
                            swal('완료', msg, 'success').then(function(){
                                GetAccountList();   // update account list
                            });
                        } else {
                            alert(msg);
                            GetAccountList();   // update account list
                        }
                    }
                },
                error: function(request,status,error) {
                    var msg = "code:"+request.status+"\n"+"error:"+error+"\n"+request.responseText;
                    if(typeof swal !== 'undefined'){
                        swal("Error", msg, "error");
                    } else {
                        alert(msg);
                    }
                    msg = null;
                }
            })
        }
    </script>
</body>
</html>
