<!DOCTYPE html>
<html>
    <style>            
        #tblLoadLog thead > tr > th.detail,
        #tblLoadLog tbody > tr:not(.detail-view) > td:first-of-type {
            display:none;
            }
            
        .fixed-table-body{
            overflow-x: hidden;
            overflow-y: hidden;
        }
        .fixed-table-body:hover{
            overflow-x: auto;
            overflow-y: auto;
        }  

    </style>
<head>
    <%- include('../partials/head') -%>
</head>
<body class="hold-transition skin-wins sidebar-mini fixed">
    <div class="wrapper">
        <%- include('../partials/main-header') -%>
        <%- include('../partials/main-sidebar') -%>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper bg_w">
            <!-- Content Header (Page header) -->
            <section class="content-header content_border animated fadeInLeft">
              <h4>
                 부하 검증 테스트 로그
                <%# <small>Control panel</small> %>
              </h4>
              <ol class="breadcrumb">
                <li><a href="/"><i class="fa fa-home"></i> 홈</a></li>
                <li class="active">로그</li>
                <li class="active">부하 검증 테스트 로그</li>
              </ol>
            </section>

            <section class="content">
                <%# <div class="row">
                    <div class="col-lg-12 col-xs-12">
                    </div>
                </div> %>
                <div class="row content_border">
                    <div class="col-lg-12 colr-xs-12">
                        <div class="box" style="border:none;" >
                            <div>
                                <div class="box-tools pull-right">
                                    <%# <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button> %>
                                </div>
                            </div>
                            <div class="box-body no-padding">
                                <div class="mailbox-controls pd_10">
                                        <button type="button" class="btn btn-default btn-sm" id="btnRefresh" title="새로고침" data-toggle="tooltip" data-container="body"><i class="fa fa-refresh"></i></button>
                                        <div class="btn-group" style='width:150px;'>
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-btn">
                                                    <button type="button" class="btn btn-default btn-flat" id="btnPrev" title="이전" data-toggle="tooltip" data-container="body"><i class="glyphicon glyphicon-chevron-left"></i></button>
                                                </div>
                                                <input type="text" class="form-control datepicker" id="date">
                                                <span class="input-group-btn">
                                                <button type="button" class="btn btn-default btn-flat" id="btnNext" title="다음" data-toggle="tooltip" data-container="body"><i class="glyphicon glyphicon-chevron-right"></i></button>
                                            </span>
                                            </div>
                                        </div>
                                        <button type="button" class="btn bg-olive btn-sm" id="btnSearch" title="검색" data-toggle="tooltip" data-container="body"><i class="fa fa-search"></i> 검색</button>
                                        <button type="button" class="btn btn-warning btn-sm" id="btnFilterClear" title="필터 초기화" data-toggle="tooltip" data-container="body"><i class="fa fa-trash-o"></i> 필터 초기화</button>                                        
                                        <!-- /.btn-group -->
                                </div>                                
                                <div class="mailbox-controls pd_10">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <input type="text" class="form-control input-sm" placeholder="수행번호" id="test_code">
                                        </div>
                                        <div class="col-xs-2">
                                                <select id="rule_category" class="form-control input-sm">
                                                    <option value="">전체</option>
                                                    <!--
                                                    <option value="1100">패턴블럭</option>
                                                    <option value="1300">Web CGI</option>
                                                    <option value="1301">WEBCGI (사용자정의)</option>
                                                    <option value="1500">패턴블럭 (사용자정의)</option>
                                                    -->
                                                    <option value="2400">RegEx</option>
                                                    <option value="2401">RegEx (사용자정의)</option>
                                                    <option value="2402">RegEx (배포룰)</option>
                                                </select>
                                        </div>
                                        <div class="col-xs-2">
                                                <input type="text" class="form-control input-sm" placeholder="정책코드" id="rule_code">
                                            </div>                                        
                                        <div class="col-xs-5">
                                            <input type="text" class="form-control input-sm" placeholder="정책명" id="rule_name">
                                        </div>                                       
                                    </div>                                        
                                </div>                                  
                                <div class="mailbox-controls pd_10">
                                    <div class="input-group input-group-sm">
                                        <span class="input-group-addon"><i class="fa fa-tags"></i></span>
                                        <input type="text" class="form-control" placeholder="정책" id="rule_pattern">
                                    </div>
                                </div>  
                                <div class="table-responsive mailbox-messages">
                                    <table class="table table_1 table-hover table-striped"
                                        id="tblLoadLog"
                                        data-width="100%"
                                        data-toggle="table"
                                        data-striped="true"
                                        data-pagination ="true"
                                        data-page-size="10"
                                        data-page-list="[10, 20, 30, 50, 100, 500, 1000]"
                                        data-locale="ko-KR"
                                        data-show-columns="false"
                                        data-search="false"
                                        data-show-refresh="false"
                                        data-show-toggle="false"
                                        data-show-export="false"
                                        data-checkbox-header="true"                                        
                                        data-detail-view="true"
                                        data-detail-formatter="ruleDetailFormatter">
                                        <thead>
                                            <tr>
                                                <th data-field="test_code"
                                                    data-align="center"
                                                    data-width="200"
                                                    data-valign="middle"
                                                    data-formatter="fTestCodeLink"
                                                    rowspan="2">수행번호</th>                                             
                                                <th data-field="dut_ip"
                                                    data-align="center"
                                                    data-valign="middle"
                                                    rowspan="2">검증센서</th>
                                                <th data-field="rule_category"
                                                    data-align="center"
                                                    data-width="150"
                                                    data-formatter="fConvertCategory"
                                                    data-valign="middle"
                                                    rowspan="2">카테고리</th>
                                                <th data-field="rule_name"
                                                    data-align="left"
                                                    data-width="200"
                                                    data-valign="middle"
                                                    data-formatter="fDetailRuleLink"
                                                    rowspan="2">정책명</th> 
                                                <th data-align="center"
                                                    colspan="5">Inbound</th>
                                                <th data-align="center" 
                                                    colspan="5">Outbound</th>
                                            </tr>  
                                             <tr>                               
                                                    <th data-field="bps_tot_in"
                                                        data-align="center"
                                                        data-formatter="fBpsConverter"
                                                        data-valign="middle">총 bps</th>
                                                    <th data-field="pps_tot_in"
                                                        data-align="center"
                                                        data-formatter="fPpsConverter"
                                                        data-valign="middle">총 pps</th>
                                                    <th data-field="bps_max_in"
                                                        data-align="center"
                                                        data-formatter="fBpsConverter"
                                                        data-valign="middle">최대 bps</th>
                                                    <th data-field="pps_max_in"
                                                        data-align="center"
                                                        data-formatter="fPpsConverter"
                                                        data-valign="middle">최대 pps</th>
                                                    <th data-field="rule_overload_in"
                                                        data-align="center"
                                                        data-formatter="floadResult"
                                                        data-valign="middle">부하 결과</th>
                                                    <th data-field="bps_tot_out"
                                                        data-align="center"
                                                        data-formatter="fBpsConverter"
                                                        data-valign="middle">총 bps</th>
                                                    <th data-field="pps_tot_out"
                                                        data-align="center"
                                                        data-formatter="fPpsConverter"
                                                        data-valign="middle">총 pps</th>
                                                    <th data-field="bps_max_out"
                                                        data-align="center"
                                                        data-formatter="fBpsConverter"
                                                        data-valign="middle">최대 bps</th>
                                                    <th data-field="pps_max_out"
                                                        data-align="center"
                                                        data-formatter="fPpsConverter"
                                                        data-valign="middle">최대 pps</th>
                                                    <th data-field="rule_overload_out"
                                                        data-align="center"
                                                        data-formatter="floadResult"
                                                        data-valign="middle">부하 결과</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                            
                            <div class="overlay" id="overlay">
                                <i class="fa fa-spinner fa-spin"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
        <!-- /.content-wrapper -->
    </div>
    <!-- ./wrapper -->
    
    <%- include('../partials/modal-log-detail-test-info') -%>    
    <%- include('../partials/foot') -%>

    <script>
        var $btnRefresh = $('#btnRefresh');
        var $btnSearch = $('#btnSearch');        
        var $btnFilterClear = $('#btnFilterClear');             
        
        var $modal_log_detail_test_info = $('#modal_log_detail_test_info');        

        $(function(){
        //setting buttons over table
        $('#date').datepicker({
            format: 'yyyy.mm.dd',
            todayBtn: true,
            todayHighlight: true
        });
        $('#date').datepicker('update', moment().format('YYYY.MM.DD'));
        
        $('#date').on('change', function() {
            getLoadLog();
        });
        $('#btnPrev').click(function() {
            var datetime = moment($('#date').val(), 'YYYY.MM.DD').add(-1, 'day');
            $('#date').datepicker('update', datetime.format('YYYY.MM.DD'));
            getLoadLog();
        });
        $('#btnNext').click(function() {
            var datetime = moment($('#date').val(), 'YYYY.MM.DD').add(1, 'day');
            $('#date').datepicker('update', datetime.format('YYYY.MM.DD'));
            getLoadLog();
        });

        getLoadLog();  

        // 새로고침 버튼을 클릭한다.
        $btnRefresh.click(btnRefresh);      

        // 검색 버튼을 클릭한다.
        $btnSearch.click(btnSearch);              
        
        // 필터 초기화 버튼을 클릭한다.
        $btnFilterClear.click(btnFilterClear);             

        });

        
        

        // ============================================================================
        function getLoadLog() {
            var param = {
                date: $('#date').val(),
                test_code: $('#test_code').val(),
                rule_category: $('#rule_category').val(),
                rule_code: $('#rule_code').val(),
                rule_name: $('#rule_name').val(),
                rule_pattern: $('#rule_pattern').val(), 
            };

            $.ajax({
                url: '/api/logs/load_log/load_log',
                data: param,                
                method: 'get',
                dataType: 'json',

                beforeSend: function (xhr) {
                    $('#tblLoadLog').bootstrapTable("showLoading");
                    $('#overlay').show();
                },
                success: function (json) {
                    var result = [];
                    if (json.length > 0) {
                        result = json[0].datas;                        
                    }
                    $('#tblLoadLog').bootstrapTable("load", result);
                    $('#tblLoadLog').bootstrapTable("hideLoading");
                    $('#overlay').hide();
                },
                error: function (request, status, error) {
                    var msg = "code:" + request.status + "\n" + "error:" + error + "\n" + request.responseText;

                    swal("Error", msg, "error");
                }
            });
        }


        // 새로고침 버튼을 클릭한다.
        function btnRefresh() {
            getLoadLog();
        }

        // 검색 버튼을 클릭한다.
        function btnSearch() {
            getLoadLog();            
        }
        
        // 필터 초기화 버튼을 클릭한다.
        function btnFilterClear() {
            $('#test_code').val(''); 
            $('#rule_category').val(''); 
            $('#rule_code').val(''); 
            $('#rule_name').val(''); 
            $('#rule_pattern').val(''); 

            getLoadLog();
        }        
        
        function DetailTestInfo(value){            
            // data map - init
            $modal_log_detail_test_info.find('#test_code').html(value);
            
            var param = {
                test_code: value,
            };

            $.ajax({
                url: '/api/logs/detect_log/detect_log_detail',
                data: param,                
                method: 'get',
                dataType: 'json',

                success: function (json) {

                    if (json.length > 0) {
                        var result = json[0].datas;
                        if( result.length > 0){    
                            var result = json[0].datas;
                            // data map - init                        
                            var test;
                            if (result[0].test == 1) {
                                test = '<i class="fa fa-flask"></i> 탐지 테스트';
                            } else {
                                test = '<i class="fa fa-flask"></i> 부하 테스트';
                            };

                            $modal_log_detail_test_info.find('#test').html(test);

                            var type;
                            if (result[0].type == 1) {
                                type = '<i class="fa fa-eyedropper"></i> 그룹 테스트';
                            } else {
                                type = '<i class="fa fa-eyedropper"></i> 유닛 테스트';
                            };

                            $modal_log_detail_test_info.find('#type').html(type);

                            var category = "";
                            switch (result[0].category) {
                                case "0":
                                    category = "전체";
                                    break;
                                case '1100':
                                    category = '패턴블럭';
                                    break;
                                case '1300':
                                    category = 'Web CGI';
                                    break;
                                case '1301':
                                    category = 'WEBCGI (사용자정의)';
                                    break;
                                case '1500':
                                    category = '패턴블럭 (사용자정의)';
                                    break;
                                case '2400':
                                    category = 'RegEx';
                                    break;
                                case '2401':
                                    category = 'RegEx (사용자정의)';
                                break;
                                case '2402':
                                    category = 'RegEx (배포룰)';
                                    break;
                                default:
                                    category = result[0].category;
                                    break;
                            };                        

                            $modal_log_detail_test_info.find('#title_test').html('부하 ');
                            $modal_log_detail_test_info.find('#category').html(category);

                            $modal_log_detail_test_info.find('#version').html(result[0].version);

                            var backtraffic;
                            if (result[0].backtraffic == 0) {
                                backtraffic = '미사용';
                            } else {
                                backtraffic = '사용';
                            };

                            $modal_log_detail_test_info.find('#backtraffic').html(backtraffic);
                            $modal_log_detail_test_info.find('#interval').html(result[0].interval + '초');
                            $modal_log_detail_test_info.find('#comment').html(result[0].comment);

                            // show modal
                            $modal_log_detail_test_info.modal();    
                            
                        } else {
                        swal("Warning", "해당 수행번호의 테스트 정보를 찾을 수 없습니다.", "warning");
                        }          
                    } else {
                        swal("Warning", "해당 수행번호의 테스트 정보를 찾을 수 없습니다.", "warning");
                    }
                },
                error: function (request, status, error) {
                    var msg = "code:" + request.status + "\n" + "error:" + error + "\n" + request.responseText;

                    swal("Error", msg, "error");
                }
            });

            

        }

        
        function detailRuleInfo(index){
            $('#tblLoadLog tr[data-index='+index+']').find('>td>.detail-icon').trigger('click');
        }

        function ruleDetailFormatter(index, row) {
            var html = [];
            $.each(row, function (key, value) {
                switch(key){
                    case 'rule_pattern' : 
                        key = '정책 패턴';
                        html.push('<p><b>' + key + ':</b> ' + value + '</p>');
                    break;
                    
                    case 'rule_code' : 
                        key = '정책 코드';
                        html.push('<p><b>' + key + ':</b> ' + value + '</p>');
                    break;
                }
            });
            return html.join('');
        }
              

    </script>
</body>
</html>
